In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("credit.csv")
df.head()

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,unemployed,married,primary,1787,no,79.0,1,no
1,33.0,services,married,secondary,4789,yes,220.0,1,no
2,35.0,management,single,tertiary,1350,yes,185.0,1,no
3,30.0,management,married,tertiary,1476,yes,199.0,4,no
4,59.0,blue-collar,married,secondary,0,yes,226.0,1,no

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [4]:


for col in df.select_dtypes(include=['object', 'category']).columns:
    df[col] = LabelEncoder().fit_transform(df[col])
df.head()

,age,job,marital,education,balance,housing,duration,campaign,approval
0,30.0,10,1,0,1787,0,79.0,1,0
1,33.0,7,1,1,4789,1,220.0,1,0
2,35.0,4,2,2,1350,1,185.0,1,0
3,30.0,4,1,2,1476,1,199.0,4,0
4,59.0,1,1,1,0,1,226.0,1,0

In [5]:

from sklearn.model_selection import train_test_split

In [6]:
X = df.drop('approval', axis=1)
y = df['approval']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [9]:
input_size = X_train.shape[1]

In [10]:
model = Sequential()
model.add(Dense(units= 128,  activation='relu',input_shape=(input_size,)))

model.add(Dense(units= 64,  activation='relu'))
model.add(Dense(units= 32,  activation='relu'))
model.add(Dense(units= 16,  activation='relu'))
model.add(Dense(units= 8,  activation='relu'))


model.add(Dense(units= 1,  activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

D:\Users\Sunil Singh\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [11]:
model.fit(X_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.8502 - loss: 2.4340
Epoch 2/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8893 - loss: 0.3556
Epoch 3/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8842 - loss: 0.3594
Epoch 4/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8776 - loss: 0.3726
Epoch 5/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8862 - loss: 0.3549
Epoch 6/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8849 - loss: 0.3573
Epoch 7/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8816 - loss: 0.3639
Epoch 8/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8919 - loss: 0.3431
Epoch 9/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8826 - loss: 0.3626
Epoch 10/10
113/113 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8826 - loss: 0.3623

In [12]:
pred = model.predict(X_test)

29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step